body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(126, 181, 252)
}
input[type="submit"],
button:not(.delete-button){
    border: none;
    background-color: rgb(57, 83, 212);
    color: #ffffff;
    border-radius: 5px;
    padding: 6px;
}
.image-container{
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 200px;
    max-height: 300px;
}

#newCatButton {
    margin-top: 3px;
}

#popularity {
    font-size: small;
    font-weight: 200;
}

.vote-buttons-container button {
    margin-right: 5px;
}

.create-comments-container {
    margin: 20px 2px;
}

.comment-display-container {
    width: 450px;
    min-height: 50px;
    height: fit-content;
    /* border-radius: 5px; */
    /* box-shadow: 1px 1px 3px lightslategrey; */
}

.negative-score{
    color: red
}
.positive-score{
    color: green
}
.zero-score{
    color: black;
}
.comment-box{
    position: relative;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 12.5px;
    overflow: hidden;
    color: white;
    background-color: rgb(70, 70, 255);
    box-shadow: 1px 1px 4px rgb(70, 70, 255);
    min-height: 25px;
    height: fit-content;
    margin: 10px 15px;
}

.comment-text {
    text-align: justify;
}
.delete-button{
    background-color: rgba(0, 0, 0, 0.221);
    color: rgba(255, 255, 255, 0.37);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: absolute;
    width: fit-content;
    top: 8px;
    right: 4px;
}

.delete-button:hover {
    transition: .3s linear;
    color: rgba(255, 255, 255, 0.788);
    background-color: rgba(0, 0, 0, 0.822);
}
