@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffcdb2;
    color: #6d6875;
}

/* input[type="submit"], */
button:not(.delete-button) {
    border: 1px solid #6d6875;
    background-color: #e5989b;
    color: #ffffff;
    border-radius: 5px;
    height: 25px;
    cursor: pointer;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #6d6875;
}

.main {
    display: flex;
    justify-content: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#newCatButton {
    height: 25px;
    width: 18%;
}

#popularity {
    font-size: small;
    font-weight: 200;
}


.vote-buttons-container {
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    width: 400px
}

h1 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

#upVoteButton,
#downVoteButton {
    cursor: pointer;
}

#upVoteButton {
    color: #b5838d;
}


#downVoteButton {
    color: #6d6875;
}

.up-down {
    display: flex;
    align-items: center;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

.create-comments-container {
    margin-bottom: 15px;
    width: 100%;
}

form {
    display: flex;
    justify-content: space-between;
    height: 25px;
}

#addCommentInput {
    width: 79%;
    margin: 0;
    border: 1px solid #b5838d;
    border-radius: 5px;
}

#comment-submit-button {
    width: 18%;
    border: 1px solid #6d6875;
    background-color: #e5989b;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.comment-display-container {
    width: 400px;
    min-height: 50px;
    height: fit-content;
}

.negative-score {
    color: #ff8ea5;
}

.positive-score {
    color: #b36ead;
}

.zero-score {
    color: #6d6875;
}

.comment-box {
    position: relative;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 12.5px;
    overflow: hidden;
    color: white;
    background-color: #e5989b;
    box-shadow: 1px 1px 4px #e5989b;
    min-height: 25px;
    height: fit-content;
    margin: 10px 0px;
}

.comment-text {
    text-align: justify;
}

.delete-button {
    background-color: #b5838d;
    color: rgba(255, 255, 255, 0.37);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    position: absolute;
    width: fit-content;
    top: 6px;
    right: 4px;
}

.delete-button:hover {
    background-color: #6d6875;
    transition: .3s linear;
    color: rgba(255, 255, 255, 0.788);
}
